{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    {# 背景動画を表示させるスタイルを読み込みます。#}
    <link href="/assets/css/video.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="row title">
        <div class="col-sm-12">
            <h1 class="text-center">matatabi</h1>
            <p class="text-center">あなたの旅を動画でサポートします。</p>
        </div>
    </div>
    <div class="row columns">
        {% if session.user_info  =="" %}
            <li class="col-sm-12 col-lg-6">
              <a class="btn btn-success btn-lg btn-block" href="/register/">会員登録</a>
            </li>
            <li class="col-sm-12 col-lg-6">
              <a class="btn btn-success btn-lg btn-block" href="/login/">ログイン</a>
            </li>
        {% endif %}
    </div>
    </div>
    <style>
      body {
        background-image:url("assets/img/hawaiiGOPR0006.jpg");
        background-size: cover;
        background-color:rgba(255,255,255,0.3);
        background-blend-mode:lighten;
      }

      h1 {
        padding-top: 10rem;
        font-size: 9rem;
        color: #ff6747;
        font-weight: bold;
        font-family: 'Fredoka One', cursive;
      }

      p {
        font-size: 2rem;
        padding-top: 5rem;
        font-weight: bold;
      }

      li {
        list-style: none;
        padding: .75rem;
      }

      .columns {
        padding-top: 5rem;
      }

    </style>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
